{% extends "base.html" %}
{% block title %}
  Who has Given &mdash;
  Giving Day &mdash;
  Carthage College
{% endblock %}
{% block extra_style %}
  <style type="text/css">
  .generic-subpage #page-content-wrap { margin-top: 0; }
  .generic-subpage #secondary-navigation-wrap { padding: 25px 0 0 45px;}
  .generic-subpage #page-content-wrap .generic-background {
  background: #e9e8e5; position: absolute; top: 0;
  height: 20px; width: 100%; z-index: 0;
  }
  .generic-subpage #page-sidebar { margin-top: 20px; }
  .generic-subpage #header-background { opacity: 1 !important;}
  #djforms.generic-subpage #main-content { padding-top: 20px; }
  .generic-subpage #page-sidebar #sidebar-buttons { margin: 0 0 35px 0; }
  .generic-subpage #page-content-wrap { margin-top: 0; }
  hr{margin:0}
  </style>
{% endblock %}
{% block left_nav %}
<ul>
  <li>
    <a href="https://www.carthage.edu/giving/giving-day/" class="fancy-link">Giving Day {{year}}<span class="fancy-link__icon" aria-hidden="true">›</span></a>
    <ul>
      <li><a href="https://www.carthage.edu/giving/giving-day/events/">Giving Day Events</a></li>
      <li><a href="https://www.carthage.edu/giving/giving-day/social-toolkit/">Ambassador Toolkit</a></li>
    </ul>
  </li>
</ul>
{% endblock %}
{% block breadcrumb %}
<li>
  <a href="https://www.carthage.edu/giving/">Giving</a>
</li>
<li>
  <a href="https://www.carthage.edu/giving/give-today/" aria-current="page">Give Today</a>
</li>
{% endblock breadcrumb %}
{% block content_head %}
  <h1>Who has Given</h1>
{% endblock %}
{% block content %}{% endblock %}
