{% extends "donors/base.html" %}
{% load humanize %}
{% load livewhale_api %}
{% block content %}
{% get_lw_content as intro blurbs 2470 %}
{{intro.body}}
{% if user.is_superuser %}
<h2>
  {{count|intcomma}} Giving Day Donations
</h2>
{% else %}
  {% get_lw_content as header blurbs 2469 %}
  {{ header.body }}
{% endif %}
<ul>
{% for obj in donors %}
    {% ifchanged obj.last and ifchanged obj.first %}
        {% ifchanged obj.last|lower|slice:":1" %}
            </ul>
            <h3 style="margin-bottom: 2px;">
                {{obj.last|title|slice:":1"}}
            </h3>
            <hr>
            <ul>
        {% endifchanged %}
        <li>
            {{obj.last}}, {{obj.first|title}}
        </li>
    {% endifchanged %}
{% endfor %}
</ul>
{% endblock %}
