{% extends "donors/base.html" %}
{% block extra_style %}
  {{block.super}}
  <link href="//app.carthage.edu/themes/toph/assets/css/slick.css" type="text/css" rel="stylesheet">
  <link href="//app.carthage.edu/themes/toph/assets/css/givingday.css?v=20200504" type="text/css" rel="stylesheet" />
  <link href="//app.carthage.edu/themes/toph/assets/css/slick-theme.css" type="text/css" rel="stylesheet">
{% endblock %}
{% block extra_javascript %}
<script src="https://app.carthage.edu/themes/toph/assets/js/givingday.js"></script>
<script src="https://app.carthage.edu/themes/toph/assets/js/givingday-ajax.js"></script>
{% endblock %}
{% block content %}
<div id="givingday_ticker" aria-hidden="true">
  <div class="container">
    <div class="ticker_header">
      Here's who just donated:
    </div>
    <div class="ticker" id="donors_latest">&nbsp;</div>
    {% for donor in donors %}
    {#donor|safe#}
    <div>{{donor.first}} {{donor.last}}</div>
    {% endfor %}
    <!-- /.ticker -->
  </div>
  <!-- /.container -->
</div>
<!-- /#givingday_ticker -->
{% endblock %}
